<div class="col col-lg-12">
    <div class="card">
        <div class="card-header">Available {{userGrid.role}}</div>
        <div class="card-body table-responsive">
            <table *ngIf="userGrid.data?.result" class="table table-hover table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Wallet Address</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userGrid.data.result; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td>{{user.walletAddress}}</td>
                        <td>{{user.userStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
